<h1>Odin Facebook</h1>
<p style="color: green"><%= notice %></p>
<%= "Signed in user: #{current_user.name}" %>
<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
